div(ui-view)
  header
  section.cd-container(id="cd-timeline")
    .cd-timeline-block(ng-repeat="timeline in $ctrl.timelines")
      .cd-timeline-img.cd-picture
          img(ng-src="{{ $ctrl.logo }}" alt="Picture")
      .cd-timeline-content
        h2 {{ timeline.title }}
        p {{ timeline.body }}
        a.cd-read-more(href="https://www.thescore.com/news/897864#" target="_blank") Read more
        span.cd-date {{ timeline.date }}